<html>
<head>
  <title>
      Online Mart
  </title>
</head>
<body class="container">

<main>

  <div class="sidebar">
    <h2>Latest News</h2>
    <div class="blog_posts">

      <marquee direction="up" scrolldelay="300"><table >
          <tr><td>
              <div class="blog_desc">
                <div class="blog_heading">
							<span style="font-weight:bold"><b>HDFC Bank sets Guinness record in blood collection</b>
<p>The blood donation camp organised by HDFC Bank on December 6, 2013 involving 61,902 participants has found a place in Guinness Book of Records as the largest such drive on a single day</p></span>

                </div>
                <br />
                <span style="font-weight:bold"><b>World Blood Donor Day: Poor health reduces women blood donors in India</b>
<p>While the overall number of blood donors in India has grown over the years, women constitute only a tiny 10 percent share owing to health problems like pernicious anaemia and low haemoglobin levels or being underweight</p></span>
              </div>
            </td></tr>

        </table></marquee>
    </div>
  </div>
</main>

</body>
</html>
