<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/billing.js"></script>

</head>
<style>
  body    { padding-top:50px; }
</style>

<body class="container" ng-app="myApp" ng-controller="MainCtrl" >

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:green;">
      <div class="navbar-header" >
		<ul class="nav navbar-nav">
        <li><img src="images/apparels/hospitalBlood1.jpg" alt="Logo"  width="50%" height="25%"></li>
        <li><img src="images/apparels/hospitalBlood2.jpg" alt="Apparels"  width="200%" height="25%"></li>
	  </ul>
      </div>
    </div>
  </nav>

</header>

<main>
  <div class="container">
      <div class="row">
		<div class="col-lg-8" style="background-color:lavender;">
    <form  method="post" action="/homepage">
 
      <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Billing Successful</h2>
		<h2 class="title text-center">Redirecting to Home page</h2>
		<button type="submit" class="btn btn-default" >OK</button>


</div>

 </form>
</div>
</div>
</div>

</main>
</body>
</html>
